<!doctype html>
<html>
   <body>
   
      <h2 style = "text-align: center;">Contact Form</h2>

      
      <form action = "http://localhost:5000/" method = post>
         <fieldset>
            <legend>Contact Form</legend>
            
            <div style = font-size:20px; font-weight:bold; margin-left:150px;>

               {{ form.indication.label }}<br>
               {{ form.indication }}
               <br>

               {{ form.age.label }}<br>
               {{ form.age }}
               <br>

               {{ form.sex.label }}<br>
               {{ form.sex }}
               <br>

               {{ form.bmi.label }}<br>
               {{ form.bmi }}
               <br>

               {{ form.ethnicity.label }}<br>
               {{ form.ethnicity }}
               <br>

               {{ form.height.label }}<br>
               {{ form.height }}
               <br>

               {{ form.weight.label }}<br>
               {{ form.weight }}
               <br>

               {{ form.htn.label }}<br>
               {{ form.htn }}
               <br>

               {{ form.dm.label }}<br>
               {{ form.dm }}
               <br>

               {{ form.chol.label }}<br>
               {{ form.chol }}
               <br>

               {{ form.total_chol.label }}<br>
               {{ form.total_chol }}
               <br>

               {{ form.ldl.label }}<br>
               {{ form.ldl }}
               <br>

               {{ form.hdl.label }}<br>
               {{ form.hdl }}
               <br>

                
               {{ form.famhx.label }}<br>
               {{ form.famhx }}
               <br>

               {{ form.smokecurrent.label }}<br>
               {{ form.smokecurrent }}
               <br>

               {{ form.smokepast.label }}<br>
               {{ form.smokepast }}
               <br>

               {{ form.renal_insufficiency.label }}<br>
               {{ form.renal_insufficiency }}
               <br>

               {{ form.creatinine.label }}<br>
               {{ form.creatinine }}
               <br>

               {{ form.pv_disease.label }}<br>
               {{ form.pv_disease }}
               <br>

               {{ form.cv_disease.label }}<br>
               {{ form.cv_disease }}
               <br>

               {{ form.chest_pain.label }}<br>
               {{ form.chest_pain }}
               <br>

               {{ form.exertion.label }}<br>
               {{ form.exertion }}
               <br>

               {{ form.relief.label }}<br>
               {{ form.relief }}
               <br>

               {{ form.typicality.label }}<br>
               {{ form.typicality }}
               <br>

               {{ form.sob.label }}<br>
               {{ form.sob }}
               <br>

               {{ form.cac.label }}<br>
               {{ form.cac }}
               <br>

               

               {{ form.submit }}
            </div>
            
         </fieldset>
      </form>
      
   </body>
</html>